Repository nanoframework/nanoFramework.Json, pull requests merged in 2022-10, with the labels that each got.

#251 Allow deserialization when properties case doesn't match
  README.md
  nanoFramework.Json.Test/Configuration/ConvertersMappingTests.cs
  nanoFramework.Json.Test/Configuration/JsonCustomTypeTests.cs
  nanoFramework.Json.Test/Configuration/SettingsTests.cs
  nanoFramework.Json.Test/Converters/BoolConverterTests.cs
  nanoFramework.Json.Test/Converters/DateTimeConverterTests.cs
  nanoFramework.Json.Test/Converters/DoubleConverterTests.cs
  nanoFramework.Json.Test/Converters/FloatConverterTests.cs
  nanoFramework.Json.Test/Converters/StringConverterTests.cs
  nanoFramework.Json.Test/Converters/TimeSpanConverterTests.cs
  nanoFramework.Json.Test/JsonDeserializationArraysTests.cs
  nanoFramework.Json.Test/JsonUnitTests.cs
  nanoFramework.Json.Test/Resolvers/MemberResolverCaseInsensitiveExceptionTests.cs
  nanoFramework.Json.Test/Resolvers/MemberResolverCaseInsensitiveTests.cs
  nanoFramework.Json.Test/Resolvers/MemberResolverCaseSensitiveExceptionTests.cs
  nanoFramework.Json.Test/Resolvers/MemberResolverCaseSensitiveTests.cs
  nanoFramework.Json.Test/nanoFramework.Json.Test.nfproj
  nanoFramework.Json/Configuration/ConvertersMapping.cs
  nanoFramework.Json/Configuration/Settings.cs
  nanoFramework.Json/Converters/BoolConverter.cs
  nanoFramework.Json/Converters/DateTimeConverter.cs
  nanoFramework.Json/Converters/DoubleConverter.cs
  nanoFramework.Json/Converters/FloatConverter.cs
  nanoFramework.Json/Converters/StringConverter.cs
  nanoFramework.Json/Converters/TimeSpanConverter.cs
  nanoFramework.Json/JsonConvert.cs
  nanoFramework.Json/JsonSerializer.cs
  nanoFramework.Json/Resolvers/IMemberResolver.cs
  nanoFramework.Json/Resolvers/MemberResolver.cs
  nanoFramework.Json/Resolvers/MemberSet.cs
  nanoFramework.Json/nanoFramework.Json.nfproj
Labels: Type: Bug, Type: documentation, Type: enhancement, Type: Unit Tests, hacktoberfest-accepted

#262 Work CI-CD
  nanoFramework.Json.Test.Shared/nanoFramework.Json.Test.Shared.shproj
  nanoFramework.Json.Test/packages.config
  nanoFramework.Json/nanoFramework.Json.nfproj
  nanoFramework.Json/packages.config
Labels: Area: Config-and-Build

#255 Deserialization is now thread-safe
  nanoFramework.Json.Test/JsonThreadSafeTests.cs
  nanoFramework.Json.Test/nanoFramework.Json.Test.nfproj
  nanoFramework.Json/JsonConvert.cs
Labels: Type: Bug, hacktoberfest-accepted

#268 Support for unicode characters in JsonConvert deserialization
  nanoFramework.Json.Test/JsonUnitTests.cs
  nanoFramework.Json/JsonConvert.cs
Labels: Type: enhancement, Type: Unit Tests, hacktoberfest-accepted

#272 Add Sonarcloud config files to projects
  .gitignore
  nanoFramework.Json.Benchmark/nanoFramework.Json.Benchmark.nfproj
  nanoFramework.Json/nanoFramework.Json.nfproj
Labels: Area: Config-and-Build

#274 Fix Sonarcloud issues
  nanoFramework.Json.Benchmark/Program.cs
  nanoFramework.Json.Test.Shared/JsonTestClassChild.cs
  nanoFramework.Json.Test.Shared/JsonTestClassComplex.cs
  nanoFramework.Json.Test/Configuration/JsonCustomTypeTests.cs
  nanoFramework.Json.Test/JsonThreadSafeTests.cs
  nanoFramework.Json.Test/JsonUnitTests.cs
  nanoFramework.Json.Test/Resolvers/MemberResolverCaseInsensitiveExceptionTests.cs
  nanoFramework.Json.Test/Resolvers/MemberResolverCaseInsensitiveTests.cs
  nanoFramework.Json.Test/Resolvers/MemberResolverCaseSensitiveExceptionTests.cs
  nanoFramework.Json.Test/Resolvers/MemberResolverCaseSensitiveTests.cs
  nanoFramework.Json/Configuration/ConvertersMapping.cs
  nanoFramework.Json/Converters/StringConverter.cs
  nanoFramework.Json/JsonConvert.cs
  nanoFramework.Json/JsonSerializer.cs
Labels: Type: Unit Tests, hacktoberfest-accepted
