Repository nanoframework/nanoFramework.Json, pull requests merged in 2022-02, with the labels that each got.

#183 Add support to deserialize & serialize TimeSpan
  nanoFramework.Json.Test/JsonUnitTests.cs
  nanoFramework.Json/JsonConvert.cs
  nanoFramework.Json/JsonValue.cs
  nanoFramework.Json/TimeExtensions.cs
Labels: Type: enhancement, Type: Unit Tests

#184 Improvements in TimeSpan deserialization
  nanoFramework.Json.Test/JsonUnitTests.cs
  nanoFramework.Json/TimeExtensions.cs
Labels: Type: enhancement, Type: Unit Tests

#190 Fixing complex deserialization with array and objects in them
  nanoFramework.Json.Test/JsonUnitTests.cs
  nanoFramework.Json/JsonConvert.cs
Labels: Type: Bug, Type: Unit Tests

#191 Add output of operations execution time to unit tests
  nanoFramework.Json.Test/JsonUnitTests.cs
  nanoFramework.Json.Test/nanoFramework.Json.Test.nfproj
  nanoFramework.Json.Test/packages.config
Labels: Type: Unit Tests
