Repository nanoframework/nanoFramework.Json, pull requests merged in 2022-01, with the labels that each got.

#165 Implement deserialization of ArrayList and complex collections
  nanoFramework.Json.Test/JsonUnitTests.cs
  nanoFramework.Json/JsonConvert.cs
Labels: Type: enhancement, Type: Unit Tests

#166 Fixing complex ArrayList deserialization
  nanoFramework.Json.Test/JsonUnitTests.cs
  nanoFramework.Json/JsonConvert.cs
Labels: Type: Bug, Type: Unit Tests

#167 Fixing serialization of ArrayList in an object
  nanoFramework.Json.Test/JsonUnitTests.cs
  nanoFramework.Json/JsonObject.cs
Labels: Type: Bug

#172 Improve deserialization of single string values
  nanoFramework.Json.Test/JsonUnitTests.cs
  nanoFramework.Json/JsonConvert.cs
Labels: Type: enhancement, Type: Unit Tests

#176 Replace proprietary DateTime parse and ToString with standard ones
  nanoFramework.Json.Test/JsonUnitTests.cs
  nanoFramework.Json/JsonConvert.cs
  nanoFramework.Json/JsonValue.cs
  nanoFramework.Json/TimeExtensions.cs
Labels: Type: enhancement, Type: Unit Tests, Breaking-change

#178 Add support to decode Unicode encoded chars
  nanoFramework.Json.Test/JsonUnitTests.cs
  nanoFramework.Json/JsonConvert.cs
Labels: Type: enhancement, Type: Unit Tests
